* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;

}

body {
  font-family: 'Roboto', sans-serif;
}

p {
  font-size: 1.8rem;
}

nav, header, footer {
  background-color: #1F2937;
}

button {
  background-color: #3288F6;
  color: #F9FAF8;
  border-radius: 0.5rem;
  padding: 1rem;
  border: none;
  display: inline-block;
  width: 15rem;
  font-size: 1.8rem;
}
button:hover {
  background-color: #3288D1;
}

button:active {
  background-color: #3288F6;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 3rem 10rem;  

  align-items: center;
}
.site-name {
  font-size: 1.8rem;
  font-weight: 700;
  color: #F9FAF8;

}
.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
}
.nav-links a {
  text-decoration: none;
  color: #E7E5E8;
  font-size: 1.8rem;
}
.nav-links a:hover {
  color: yellow;
}
.nav-links a:active {
  text-decoration: none;
  color: #E7E5E8;
}
header {
  display: flex;
  padding: 5rem 20rem;
  justify-content: space-between;
  align-items: center;
  color: #F9FAF8;
  gap: 4rem;
}
/* .header-left, .header-right {
  display: flex;
  flex: 1; */
/* } */
.header-left {
  flex-direction: column;
}
h1 {
  font-size: 4.8rem;
  margin-bottom: 2rem;
  font-weight: 900;
}
header p {
  margin-bottom: 2rem;
}
.header-right {
  background-color: white;
}
.header-right img {
  width: 40rem;
  height: auto;
}

.illusion-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5rem 20rem 6rem;
}
h2 {
  font-size: 3.6rem;
  color: #1F2937;
  font-weight: 900;
  margin-bottom: 3rem;
}
.illusion-content {
  display: flex;
  column-gap: 5rem;
  text-align: center;
}
.illusion {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  background-color: white;
  row-gap: 2rem;
}
.illusion img {
  width: auto;
  height: 23rem;
  border: 0.5rem solid blue;
}
